.text-input {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    font: inherit;
    color: inherit;
}

.text-input h3 {
    color: #5A6ACF;
    font-size: 12px;
    padding-left: 15px;
}

.text-input input {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 25px;
    height: 30px;
    padding-left: 15px;
    border: 1px solid #00000024;
    color: rgba(0, 0, 0, 0.7);

    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.text-input input:focus {
    border-color: #5A6ACF;
    outline: none;
    box-shadow: 0 0 0 2px #7A85FF55; 
}
